<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="title">Burdown {{sprint.Name}} {{filter.name}} {{isCollapsed}}</h3>
  </div>

  <div class="panel-body demo-container"> 
    <div id="placeholder" class="demo-placeholder" ng-model="chart.data" chart></div>
  </div>
</div>

<div id="settings" class="well" >

  <div class="row">
    <select class="xselect col-md-3" ng-model="board" ng-options="b.Name for b in boards" ng-change="boardChanged()"></select>                      
    <select class="xselect col-md-3" ng-model="sprint" ng-options="s.Name for s in sprints" ng-change="sprintChanged()" ></select>
    <select class="xselect col-md-3" ng-model="filter" ng-options="f.name for f in filters" ng-change="refreshChart()" ></select>
  </div>

</div>

<script type="text/javascript">
    $(function() {
      $("#title").click(function(){
        $("#settings").slideToggle();
      });
    });
  </script>